<h1>Notifications</h1>

<% if @notifications.present? %>
  <% @notifications.each do |notification| %>
    <div>
      <!-- 通知の内容を表示 -->
      <%= notification.content %>
    </div>
  <% end %>
<% else %>
  <p>通知はありません</p>
<% end %>

