<% if user_signed_in? %>
  <div class="container mt-4">
    <% if current_user.employee? %>
      <div class="text-center mb-4">
        <p class="lead">右上のプルダウンメニューから担当物件を選択してください。</p>
      </div>
    <% end %>

    <div class="row">
      <div class="col-lg-6 mx-auto">
        <%= image_tag 'AIマンション1.png', alt: 'AIマンション1', class: 'img-fluid rounded mb-4' %>
      </div>
      <div class="col-lg-6 mx-auto">
        <%= image_tag 'AIマンション3.png', alt: 'AIマンション2', class: 'img-fluid rounded mb-4' %>
      </div>
    </div>
  </div>
<% else %>
  <div class="welcome-message">
    <h1>Remへようこそ。</h1>
  </div>

  <div class="login-links">
    <div class="login-link-container">
      <h2>管理会社の方はこちら</h2>
      <%= link_to new_user_session_path do %>
        <div class="login-link">
          <i class="fas fa-sign-in-alt"></i>
          <span class="link-text">ログイン</span>
        </div>
      <% end %>
    </div>

    <div class="login-link-container">
      <h2>マンション組合員の方はこちら</h2>
      <%= link_to new_condo_user_session_path do %>
        <div class="login-link">
          <i class="fas fa-sign-in-alt"></i>
          <span class="link-text">ログイン</span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

