/* トップページ */

.card-text {
  text-align: center;
}

.top-icon {
  width: 20vw;
  height: 20vh;
}

/* 新規登録 */

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.indispensable2 {
  background:darkgray;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}