/* トップページ */

.card-text {
  text-align: center;
}

.top-icon {
  width: 20vw;
  height: 20vh;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.welcome-message {
  text-align: center;
  padding: 50px 0;

}

.welcome-message h1 {
  font-size: 36px;
}

.login-link-container {
  margin: 20px auto;
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-link-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.login-link {
  display: flex;
  align-items: center;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.login-link:hover {
  background-color: #2980b9;
}

.link-text {
  margin-right: 10px;
}

i.fas {
  font-size: 18px;
}

/* 新規登録 */

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.indispensable2 {
  background:darkgray;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

/* お問合せフォーム */

.t-area-custom {
max-height: 200px;  /* 最大高さを200pxに設定 */
overflow-y: auto;  /* 縦方向にスクロールを許可 */
}